.title {
  text-align: center;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.linkWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  margin: 0 100px;
  font-size: 30px;
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
